body{
background: #F5F5DC;
}

h1{
background: #F0F8FF;
color: #008B8B;
}

.name{
background: #F0F8FF;
color: #0000FF;
text-decoration: none;
}

p{
background: #F0F8FF;
color: #008B8B;
}
ul{
background: #F0F8FF;
color: #008B8B;
}